@model SignupModel

<div class="row justify-content-center">
	<div class="col-12 col-md-10 col-lg-6 col-xl-4">
		<h1 class="text-center">רישום למערכת</h1>

		<form asp-controller="Account" asp-action="Signup" method="post">
			<div class="form-group row">
				<label asp-for="Username" class="col-form-label col-sm-4"></label>
				<div class="col">
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="Email" class="col-form-label col-sm-4"></label>
				<div class="col">
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="Pwd" class="col-form-label col-sm-4"></label>
				<div class="col">
					<input asp-for="Pwd" class="form-control" />
					<span asp-validation-for="Pwd" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="ConfirmPwd" class="col-form-label col-sm-4"></label>
				<div class="col">
					<input asp-for="ConfirmPwd" class="form-control" />
					<span asp-validation-for="ConfirmPwd" class="text-danger"></span>
				</div>
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<button type="submit" class="btn btn-primary">שליחה</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />

}