@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	@if(User.Identity.IsAuthenticated) {
		<table class="table table-bordered table-hover" style="direction: ltr;">
			@foreach(var claim in User.Claims) {
				<tr>
					<th>@claim.Type</th>
					<td>@claim.Value</td>
				</tr>
			}
		</table>
	}
</div>
